{% extends 'index.html' %}
{% load static %}
{% block part %}
<div class="container">
                    <div class="row">
                        <div class="col" style="text-align: center;"><img src="{% static 'assets/img/center.gif' %}">
                            <p style="color: rgb(255,255,255);font-size: 23px;margin-top: 15px;">You can't fully control your organs because you don't have ADMIN privilege to your own body.<br></p>
                            <p style="color: #ffffff;font-size: 18px;margin-top: -9px;">Go live a life సోదర!❤<br></p><img src="{% static 'assets/img/kabali.gif' %}" style="width: 250px;margin-bottom: 18px;">
                        </div>
                    </div>
                </div>
{% endblock part %}