{% load static %}
<!--<!DOCTYPE html>-->
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home | StudentMithra</title>
    <link rel="stylesheet" href="{% static 'homepage/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&amp;display=swap">
    <link rel="stylesheet" href="{% static 'homepage/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/assets/css/Animated-Type-Heading.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/assets/css/Buttons-With-Waves-Effect.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="shortcut icon" href="static/assets/img/bulb3.svg" >
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="72" style="background: rgb(18,35,46);padding-bottom: 21px;height: 856.6px;">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav" style="height: 66px;background: linear-gradient(90deg, #007cc7 67%, #12232e 83%);">
        <div class="container"><a class="navbar-brand d-lg-flex justify-content-lg-center align-items-lg-center" href="/" style="width: 35.1px;text-align: center;margin-right: 16px;">
                <div></div><i class="far fa-lightbulb" style="text-align: center;color: rgb(230,249,12);font-size: 25px;"></i>&nbsp;
            </a>
            <a class="navbar-brand d-lg-flex justify-content-lg-center align-items-lg-center" href="{% url 'posts' %}"><h1 class="text-center" style="font-family: ABeeZee, sans-serif;color: rgb(230,249,12);font-size: 22.5px;margin-top: 2px;">Blog</h1></a>
        </div>
    </nav>
    <header class="text-center text-dark masthead" style="background: rgb(18,35,46);height: 68px;padding-top: 0px;padding-bottom: 0px;margin-bottom: 100px;"></header>
    <h1 class="display-6 flash animated infinite" data-bss-disabled-mobile="true" style="color: rgb(238,251,251);font-family: 'Roboto Mono', monospace;text-align: center;background-image: url(Pink Blue and Black Gradient Twitch Banner.svg);background-position: center;background-size: cover;">Team "<strong>Kanya Rasi</strong>" welcomes you to</h1><span>Text</span>
    <div class="container" style="background: #12232e;padding-bottom: 48px;padding-top: 0px;border-color: rgba(33,37,41,0);margin-top: 0px;"><img class="img-fluid d-block mx-auto mb-5" src="{% static 'homepage/assets/img/Pink%20Blue%20and%20Black%20Gradient%20Twitch%20Banner.svg' %}" style="width: 804px;margin: 0px;margin-right: 0px;margin-left: 0px;margin-bottom: 0px;background: #74a6f6;border-radius: 0px;border-width: 0px;border-color: rgb(108,160,246);box-shadow: 5px 5px 14px 1px rgb(120,168,248);margin-top: 0px;">
        <div>
            <div class="border-dark d-flex justify-content-around border m-2" style="background: #12232e;border-style: none;border-color: rgb(18,35,46);margin: 8px;margin-top: 8px;margin-bottom: 8px;padding: 0px;"><a href="{% url 'login' %}"><button class="btn btn-primary border rounded-pill border-dark" type="button" style="background: rgb(64,130,246);width: 150px;" >Login</button></a>
                <a href="{% url 'register' %}"> <button class="btn btn-primary border rounded-pill border-dark" type="button" style="background: rgb(64,130,246);width: 150px;" >Register</button></a>
            </div>
        </div>
    </div>
    <div class="text-center text-white copyright py-4" style="margin-bottom: 0px;padding-top: 0px;margin-top: 73px;border-color: rgb(64,130,246);background: linear-gradient(90deg, rgb(0,124,199) 68%, rgb(18,35,46) 84%);">

        <div class="container">Copyright © <a href="http://kanyarasi.me/" target="_blank" onMouseOver="this.style.color='yellow'" onMouseOut="this.style.color='#000'" style="text-decoration:none;color:black;">Kanya Rasi</a>  2021   |

	                <a href="{% url 'contact' %}" style="color:yellow;text-decoration:none; text-align:right;" >Contact us</a>

        </div>

    </div>


    <script src="{% static 'homepage/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homepage/assets/js/bs-init.js' %}"></script>
    <script src="{% static 'homepage/assets/js/Buttons-With-Waves-Effect.js' %}"></script>
    <script src="{% static 'homepage/assets/js/freelancer.js' %}"></script>
    <script src="{% static 'homepage/assets/js/Animated-Type-Heading.js' %}"></script>
    <script src="{% static 'homepage/assets/js/Buttons-With-Waves-Effect-1.js' %}"></script>
</body>

</html>