{%load static%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block head_title %}Dashboard{% endblock head_title %}</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andika+New+Basic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Add-Another-Button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/markdownit-edit-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/markdownit-edit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/NZButtonAddDelete-2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/simple-footer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Table-With-Search-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Table-With-Search.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #12232e;">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" style="padding-right: 13px;">
      <div class="sidebar-brand-icon rotate-n-15"><i class="far fa-lightbulb" style="margin-left: 5px;color: #eff34a;"></i></div>
      <div class="sidebar-brand-text mx-3"><span class="text-lowercase" style="padding-right: 0px;color: rgb(0,124,199);padding-left: 0px;margin-left: -6px;">STUDENT</span><span style="margin-left: 4px;font-size: 20px;">Mithra</span></div></a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="#" style="margin-top: 15px;margin-bottom: 15px;"><i class="fas fa-tachometer-alt" style="font-size: 15px;"></i><span style="font-size: 15px;">Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="margin-bottom: 15px;"><i class="fas fa-user" style="font-size: 15px;"></i><span style="font-size: 15px;">Profile Settings</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="margin-bottom: 15px;"><i class="fas fa-table" style="font-size: 15px;"></i><span style="font-size: 15px;">Table</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="margin-bottom: 15px;"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="blank.html"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-bookmark-dash" style="margin-right: 2px;font-size: 15px;">
                                <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                <path fill-rule="evenodd" d="M5.5 6.5A.5.5 0 0 1 6 6h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"></path>
                            </svg><span style="font-size: 15px;">Blog</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
         <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="background: #4da8da;">
                <nav class="navbar navbar-light navbar-expand shadow mb-4 topbar static-top" style="background: linear-gradient(270deg, #12232e 24%, #007cc7 36%), #007cc7;border-color: rgb(133, 135, 150);border-top-color: rgb(133,;border-right-color: 135,;border-bottom-color: 150);border-left-color: 135,;">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button" style="color: rgb(255,255,255);"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." style="background: rgb(238,251,251);"><button class="btn btn-primary py-0" type="button" style="background: rgb(18,35,46);"><i class="fas fa-search"></i></button></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><img class="border rounded-circle img-profile" src="{% static 'assets/img/avatars/avatar1.jpeg' %}"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href='{% url 'logout' %}'><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

        {% block part %}



		{% endblock part %}
        </div>
            <footer class="sticky-footer" style="background: linear-gradient(270deg, #12232e 28%, #007cc7 40%), #203647;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span style="color: rgb(255,255,255);">Made with ❤ by KanyaRasi</span></div>
                </div>
            </footer>
        </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/markdownit-edit-1.js' %}"></script>
    <script src="{% static 'assets/js/markdownit-edit-2.js' %}"></script>
    <script src="{% static 'assets/js/markdownit-edit-3.js' %}"></script>
    <script src="{% static 'assets/js/markdownit-edit.js' %}"></script>
    <script src="{% static 'assets/js/Table-With-Search.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>


</body>

</html>