{% load static %}

<!--<!DOCTYPE html>-->
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login | StudentMithra</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andika+New+Basic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Add-Another-Button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/markdownit-edit-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/markdownit-edit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/NZButtonAddDelete-2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/simple-footer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Table-With-Search-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Table-With-Search.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">
</head>

<body class="bg-gradient-primary" style="background: #4da8da;">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav" style="height: 66px;background: linear-gradient(90deg, #007cc7 67%, #12232e 83%);">
        <div class="container"><a class="navbar-brand d-lg-flex justify-content-lg-center align-items-lg-center" href="/" style="width: 35.1px;text-align: center;margin-right: 16px;">
                <div></div><i class="far fa-lightbulb" style="text-align: center;color: rgb(230,249,12);font-size: 25px;"></i>&nbsp;
            </a>
           <h1 class="text-center" style="font-family: ABeeZee, sans-serif;color: rgb(230,249,12);font-size: 22.5px;margin-top: 2px;" >Blog</h1>
        </div>
    </nav>
    <div class="container" style="padding-top: 0px;">
        <div class="row justify-content-center" style="margin-top: 0px;">
            <div class="col-md-9 col-lg-12 col-xl-10" style="padding-top: 0px;padding-bottom: 0px;margin-left: 0px;margin-bottom: 20px;margin-top: 40px;">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex" style="background: #007cc7;padding-right: 0px;"><img src="{% static 'assets/img/New%20Folder/STUDENT.gif' %}" style="margin: 0px;margin-left: -14px;"></div>
                            <div class="col-lg-6" style="padding-top: 35px;background: #007cc7;margin-left: 0px;padding-right: 12px;">
                                <h1 class="flex-xxl-shrink-1" data-bs-toggle="tooltip" data-bss-tooltip="" style="color: rgb(235,247,247);font-family: 'Andika New Basic', sans-serif;text-align: center;font-weight: bold;margin-top: 0px;">STUDENT Mithra</h1>
                                <div class="p-5" style="padding-top: 1px;">
                                    <div class="text-center">
                                        <h1 class="text-dark mb-4" style="font-family: 'Andika New Basic', sans-serif;font-size: 32px;line-height: 42.8px;color: rgb(16,33,44);margin-top: -34px;text-align: center;"><strong>Welcome</strong></h1>
                                    </div>
                                    <form class="user" method="POST">
                                        {% csrf_token %}
                                        <div  class ="mb-3" class="form-group"><input class="form-control form-control-user" type="name" id="exampleInputUsername"  placeholder="Enter Username..." name="username" style="background: #eefbfb;margin-top: 0px;padding-top: 16px;"></div>
                                        <div class="mb-3" class="form-group"><input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Password" name="password" style="background: #eefbfb;"></div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1" style="color: rgb(17,34,45);">Remember Me</label></div>
                                            </div>
                                        </div><div class="form-group"><button class="btn btn-primary text-uppercase shadow btn-user w-100" type="submit" style="color: rgb(255, 255, 255);background: #11222d;box-shadow: 0px 0px 5px 0px #203647;transform: translate(0px);filter: blur(0px);">Login</button></div>
                                    </form>

                                    {% for message in messages %}
                                    <div class="alert alert-primary" role="alert">
					                        <p id="messages">{{message}}</p>
                                    </div>
                                    {% endfor %}
                                    <div class="text-center" style="padding-top: 0px;color: rgb(18,35,46);margin-top: 24px;"><a class="small" href="forgot-password.html" style="padding-top: 0px;color: rgb(20,37,48);">Forgot Password?</a></div>
                                    <div class="text-center" style="margin-top: 5px;"><a class="small" href="{% url 'register' %}" style="color: rgb(17,34,45);">New user? Create an Account!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/markdownit-edit-1.js' %}"></script>
    <script src="{% static 'assets/js/markdownit-edit-2.js' %}"></script>
    <script src="{% static 'assets/js/markdownit-edit-3.js' %}"></script>
    <script src="{% static 'assets/js/markdownit-edit.js' %}"></script>
    <script src="{% static 'assets/js/Table-With-Search.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>