 {% if messages %}
    <div class='messages'>

    <ul class="messages">
    {% for message in messages %}

                                    <div class="alert alert-primary alert-dismissible" role="alert" style="width:40%;">

					                        <p id="messages">{{message}}</p>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    {% endfor %}
    </ul>

    </div>
{% endif %}