{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block head_title %}
 {{ title }} | {{ block.super }}
{% endblock head_title %}
{% block part %}
    <div class="container">

        <div class='col-sm-6'>
            <div style="color:black;">
                <h1>{{ title }}</h1>
                <hr/>

                <form method='POST' action=''>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mb-3" style="padding-top:20px"><button class="btn btn-primary btn-sm" type="submit">{{ title }}</button></div>
                </form>
            </div>
        </div>
    </div>
{% endblock part %}