
{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block head_title %}

{{ title }} | {{ block.super }}
{% endblock head_title %}
{% block part %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card shadow mb-3" style="border-radius: 15px;border-color: rgba(133,135,150,0);">
				<div class="card-header py-3" style="background: rgb(18,35,46);margin: -1px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
					<p class="m-0 fw-bold" style="color: #ffffff;">Enter new password</p>
				</div>
				<div class="card-body text-center" style="background: #eefbfb;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;">
					<p style="color:#12232e">Please enter your new password twice so we can verify you typed it in correctly.</p>
					<form method="post">
						{% csrf_token %}
						{{form}}
						<input type="Submit" name="Update Password">

					</form>

				</div>
			</div>
        </div>
    </div>
</div>
{% endblock part %}