{% extends 'index.html' %}
{% load static %}
{% block head_title %}
Path to Product Based Companies | {{ block.super }}
{% endblock head_title %}
{% block part %}
<div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card border-dark shadow mb-3" style="border-radius: 15px;">
                                <div class="card-header py-3" style="background: #800080;border-top-left-radius: 15px;border-top-right-radius: 15px;margin: -1px;">
                                    <p class="m-0 fw-bold" style="color: #ffffff;">Path to product based companies</p>
                                </div>
                                <div class="card-body" style="background: #ffffff;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;margin: -1px;text-align: left;font-size: 18px;color: rgb(18,35,46);">
                                    <div class="row">
                                        <div class="col" style="text-align: center;"><img src="{% static 'assets/img/plan.gif' %}" style="width: 250px;"></div>
                                    </div>
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col-auto" style="text-align: left;">
                                            <p style="text-align: left;">Yeahh<br>As said I have a "Part" of plan.&nbsp;<br><strong><span style="text-decoration: underline;">Step 1</span></strong><br><strong>Learn a language</strong> (I know your mind. Please don't think abt Hindi, English, Telugu)<br></p>
                                            <ul>
                                                <li>Learn a programming Language C++ or Java or Python (I prefer C++ due to its Fast)<br></li>
                                                <li>So, I suggest Java or C++.(faster than python and that's what companies need)<br></li>
                                            </ul>
                                        </div>
                                        <div class="col-auto offset-1" style="text-align: center;"><img src="{% static 'assets/img/tenor.gif' %}" style="margin-top: 23px;"></div>
                                    </div>
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col-auto">
                                            <p><strong><span style="text-decoration: underline;">Step 2</span></strong><br><strong>DATA STRUCTURES AND ALGORITHMS</strong><br></p>
                                            <ul>
                                                <li>DSA is like heart of all placements, without which 95% can't be cracked. Which ever company you pick there will be minimum 2-3&nbsp; &nbsp; &nbsp; rounds based on DSA. So you need to be very strong in DSA.<br></li>
                                            </ul>
                                            <div class="row">
                                                <div class="col" style="text-align: center;"><img src="{% static 'assets/img/tenor (1).gif' %}" style="width: 450px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col-auto">
                                            <p style="width: 702px;"><strong><span style="text-decoration: underline;">&nbsp;Step 3</span></strong><br>&nbsp;<strong><em>Competitive Coding</em></strong><br>&nbsp;This comes into action after first two steps. This polishes your skills learnt from above&nbsp; &nbsp;2 steps. There are many coding platforms which you can try<br></p>
                                            <ul>
                                                <li>HackerRank</li>
                                                <li>GeekForGeeks</li>
                                                <li>HackerEarth</li>
                                                <li>CodeChef</li>
                                            </ul>
                                        </div>
                                        <div class="col-auto offset-1" style="text-align: center;"><img src="{% static 'assets/img/coding.gif' %}" style="width: 200px;margin-top: 91px;"></div>
                                    </div>
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col">
                                            <p style="width: 702px;"><strong>Step 4</strong><br><strong><em>Theory Subjects</em></strong><br>You don't need to study all 40+ subjects from 8 semester. No one gonna ask you to solve differential equations etc.( That doesn't mean company gonna recruit you irrespective of backlogs. So you need to clear them)<br></p>
                                            <ul>
                                                <li>DBMS</li>
                                                <li>Networking</li>
                                                <li>OS</li>
                                                <li>System Design</li>
                                                <li>Testing</li>
                                            </ul>
                                        </div>
                                        <div class="col" style="text-align: center;"><img src="{% static 'assets/img/tenor (3).gif' %}" style="width: 250px;margin-top: 27px;"></div>
                                    </div>
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col">
                                            <p><strong>Step 5</strong>&nbsp;<br><strong><em>Testing Yourself !!</em></strong><br>&nbsp;yes you need to test yourself. After the test you will get to know places of improvements. There are platforms like<br></p>
                                            <ul>
                                                <li>LeetCode</li>
                                                <li>InterviewBit</li>
                                                <li>CareerUp</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col" style="text-align: center;"><img src="{% static 'assets/img/tenor (4).gif' %}" style="width: 300px;margin-top: 45px;"></div>
                                        <div class="col">
                                            <p><strong><em><span style="text-decoration: underline;">Final Part (Main Part)</span></em></strong><br>Ok we are at main part. This depends on you. Just you.<br>you need to be consistent at your work. Its not like "aaj mai 10 questions solve kiye and ek maheene ke baadh fir se shuru karunga" nahhh!! That doesn't work<br><br>just solve 1-2 questions per day but do it everyday. Through out the month. Do it very consistently. <strong>Consistency is the key to success</strong>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock part %}