{% extends "index.html" %}
{% load urlify %}
{% load crispy_forms_tags %}


{% block head_title %}
{{ title }} | {{ block.super }}
{% endblock head_title %}

{% block style %}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
{% endblock style %}


<!-- {% block post_detail_link %}-->
<!--  <li><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a></li>-->
<!--  {% endblock %}-->



{% block part %}

<div class="container-fluid" style="background: #4da8da;">

                    <div class="row">

                        <div class="col" style="border-radius: 0px;border-color: rgba(133,135,150,0);">
                            <div class="card shadow mb-3" style="border-radius: 15px;border-color: rgba(133,135,150,0);">
                                <div class="card-header py-3" style="background: rgb(18,35,46);margin: -1px;border-top-left-radius: 15px;border-top-right-radius: 15px;">

                                    <p class="m-0 fw-bold" style="color: #ffffff;">{{title}}-{{instance.user}}
                                        {% if request.user == instance.user %}
                                        <a class="btn btn-primary btn-sm" role="button" style="position:absolute; top:10px; right:75px;"  data-inline="true"  href="{% url 'update' instance.slug %} ">Update</a>
<!--                                        <a class="btn btn-danger btn-sm" role="button"  data-inline="true"  href="{% url 'delete' instance.slug %} ">Delete</a>-->
                                        <button class="btn btn-danger btn-sm" id="myBtn" style="position:absolute; top:10px; right:10px;">Delete</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" style="margin-left:90%;">&times;</span>
    <p style="text-align:center;">Do you really want to delete?</p>
   <a class="btn btn-danger btn-sm" role="button"  data-inline="true" style="width:30%; margin-left:70%;" href="{% url 'delete' instance.slug %} ">Delete</a>
  </div>

</div>
                                        {% endif %}
                                    </p>


                                </div>
                                <div class="card-body" style="background: #eefbfb;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;">
                                    <div class="container">
<div class='col-sm-6 col-sm-offset-3'>
    {% if instance.image %}
    <img src='{{ instance.image.url }}' class='img-responsive' />
    {% endif %}
    <h1>{{ title }} </h1>
    Created on:<small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}</small>

<!-- {% if instance.read_time|time:"i" <= "01" %} < 1 minute {% else %}{{ instance.read_time|time:"i" }} minutes {% endif %} -->


<p>Read time: {% if instance.read_time <= 1 %} < 1 Minute {% else %}{{ instance.read_time }} minutes {% endif %}</p>
{% if instance.user.get_full_name %}
<p>Author: {{ instance.user.get_full_name }}</p>
{% endif %}



<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
<hr/>
</p>



<!-- <p>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
Twitter
</a>

<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>


<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
Linkedin
</a>

<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">Reddit</a>

</p> -->



<div class='row'>
<div class='col-sm-12 '>


   <div class='post-detail-item'>{{ instance.content|safe }}</div>

    <hr/>
    <br/>

    <div>

        <p class='lead' style="color:black;"><b>Comments</b></p>
        {% if request.user.is_authenticated %}
        <form method="POST" action="."> {% csrf_token %}
            {{ comment_form|crispy }}
            <input type='submit' value='Post comment' class='btn btn-default'>
        </form>
        {% else %}
        <p>You must login to comment </p>
        {% endif %}
        <hr/>
        {% for comment in comments %}

        <blockquote>
          <p>{{ comment.content }}</p>
          <footer>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %}</footer>


        </blockquote>

        <hr/>
        {% endfor %}
    </div>




</div>
</div>
</div>

</div>
                                </div>
                            </div>

                        </div>
                    </div>
</div>
<!-- Trigger/Open The Modal -->


{% endblock part %}
{% block script %}

var modal = document.getElementById("myModal");

var btn = document.getElementById("myBtn");

var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
{% endblock script %}
