{% extends 'index.html' %}
{% load static %}
{% block head_title %}
Practice | {{ block.super }}
{% endblock head_title %}
{% block part %}

                <div class="container">
                    <div class="card" style="background: rgb(18,35,46);border-radius: 15px;margin: 0px;margin-top: 0px;">
                        <div class="card-header" style="width: 921.6px;background: rgb(18,35,46);border-top-left-radius: 15px;border-top-right-radius: 15px;margin: -1px;">
                            <ul class="nav nav-tabs card-header-tabs" style="background: #12232e;margin-top: 0px;margin-right: -8px;width: 730.6px;">
                                <li class="nav-item" style="background: #12232e;"><a class="nav-link" href="{% url 'practice' %}" style="background: rgba(18,35,46,0.69);border-top-left-radius: 15px;border-top-right-radius: 15px;color: rgb(255,240,0);">To_Do</a></li>
                                <li class="nav-item" style="background: #12232e;border-top-left-radius: 15px;border-top-right-radius: 15px;"><a class="nav-link active" href="{% url 'practice_com' %}" style="background: rgb(255,244,76);border-top-left-radius: 15px;border-top-right-radius: 15px;color: rgb(18,35,46);">Completed</a></li>
                            </ul>
                        </div>
                        <div class="card-body" style="background: beige;margin: 0px;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;margin-right: -1px;">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr style="color: rgb(18,35,46);border-color: #616263e1;">
<!--                                            <th style="width: 25px;">SI.No</th>-->
                                            <th>Question</th>
                                            <th style="width: 50px;">Youtube</th>
                                            <th style="width: 76px;text-align: center;">GFG</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in questions_com %}
                                        <tr style="color: rgb(18,35,46);border-color: #616263e1;">
<!--                                            <td>1</td>-->
                                            <td><a href="{{ obj.ques_link }}" target="_blank" style="color:black;text-decoration:none">{{ obj.ques }}</a></td>
                                            <td style="text-align: center;width: 76px;" ><a href="{{ obj.video }}" target="_blank"><i class="fa fa-youtube-play" style="color: #ff0000;"></i></a></td>
                                            <td style="text-align: center;"><a href="{{ obj.gfg }}" target="_blank" ><i class="fas fa-lightbulb" style="color: #2bad2b;"></i></a></td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock part %}