{% extends 'dashboard-base.html' %}
{% load static %}
{% block content %}

                <div class="container-fluid" style="background: #4da8da;">
                    <h2 class="mb-4" style="color: #12232e;font-weight: bold;font-family: Nunito, sans-serif;">Profile</h2>
                    <div class="row mb-3">
                        <div class="col-lg-4" style="border-radius: 15px;">
                            <div class="card mb-3" style="border-radius: 15px;">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="{% static 'assets/img/dogs/image2.jpeg' %}" width="160" height="160" style="padding-top: 0px;margin-left: 0px;">
                                    <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Change Photo</button></div>
                                </div>
                            </div>
                            <div class="card mb-3" style="border-radius: 15px;">
                                <div class="card-body text-center shadow"></div>
                            </div>
                            <div class="card border-dark shadow" style="margin-bottom: 16px;border-radius: 15px;">
                                <div class="card-header border-light py-3" style="background: rgb(18,35,46);border-top-left-radius: 15px;border-top-right-radius: 15px;margin: -1px;">
                                    <p class="m-0 fw-bold" style="color: #ffffff;">Coding Profiles</p>
                                </div>
                                <div class="card-body" style="background: #eefbfb;color: rgb(18,35,46);margin: -1px;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;">
                                    <form>
                                        <div class="row">
                                            <div class="col-5 text-start order-first">
                                                <div class="mb-3"><label class="form-label" for="city"><strong>Platform 1</strong><br></label><select class="form-select">
                                                        <optgroup label="Select Platform">
                                                            <option value="" selected="">LeetCode</option>
                                                            <option value="13">Hacker Rank</option>
                                                            <option value="14">Code Chef</option>
                                                            <option value="14">Code Forces</option>
                                                            <option value="14">Code Wars</option>
                                                            <option value="14">Coder Byte</option>
                                                            <option value="14">Top Coder</option>
                                                            <option value="14">Other..</option>
                                                        </optgroup>
                                                    </select></div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="country"><strong>Link</strong><br></label><input class="form-control" type="text" id="city-6" name="Year of Passing" inputmode="numeric"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 text-start order-first">
                                                <div class="mb-3"><label class="form-label" for="city"><strong>Platform 2</strong><br></label><select class="form-select">
                                                        <optgroup label="Select Platform">
                                                            <option value="" selected="">LeetCode</option>
                                                            <option value="13">Hacker Rank</option>
                                                            <option value="14">Code Chef</option>
                                                            <option value="14">Code Forces</option>
                                                            <option value="14">Code Wars</option>
                                                            <option value="14">Coder Byte</option>
                                                            <option value="14">Top Coder</option>
                                                            <option value="14">Other..</option>
                                                        </optgroup>
                                                    </select></div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="country"><strong>Link</strong><br></label><input class="form-control" type="text" id="city-5" name="Year of Passing" inputmode="numeric"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 text-start order-first">
                                                <div class="mb-3"><label class="form-label" for="city"><strong>Platform 3</strong><br></label><select class="form-select">
                                                        <optgroup label="Select Platform">
                                                            <option value="" selected="">LeetCode</option>
                                                            <option value="13">Hacker Rank</option>
                                                            <option value="14">Code Chef</option>
                                                            <option value="14">Code Forces</option>
                                                            <option value="14">Code Wars</option>
                                                            <option value="14">Coder Byte</option>
                                                            <option value="14">Top Coder</option>
                                                            <option value="14">Other..</option>
                                                        </optgroup>
                                                    </select></div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="country"><strong>Link</strong><br></label><input class="form-control" type="text" id="city-4" name="Year of Passing" inputmode="numeric"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 text-start order-first">
                                                <div class="mb-3"><label class="form-label" for="city"><strong>Platform 4</strong><br></label><select class="form-select">
                                                        <optgroup label="Select Platform">
                                                            <option value="" selected="">LeetCode</option>
                                                            <option value="13">Hacker Rank</option>
                                                            <option value="14">Code Chef</option>
                                                            <option value="14">Code Forces</option>
                                                            <option value="14">Code Wars</option>
                                                            <option value="14">Coder Byte</option>
                                                            <option value="14">Top Coder</option>
                                                            <option value="14">Other..</option>
                                                        </optgroup>
                                                    </select></div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="country"><strong>Link</strong><br></label><input class="form-control" type="text" id="city-3" name="Year of Passing" inputmode="numeric"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 text-start order-first">
                                                <div class="mb-3"><label class="form-label" for="city"><strong>Platform 5</strong><br></label><select class="form-select">
                                                        <optgroup label="Select Platform">
                                                            <option value="" selected="">LeetCode</option>
                                                            <option value="13">Hacker Rank</option>
                                                            <option value="14">Code Chef</option>
                                                            <option value="14">Code Forces</option>
                                                            <option value="14">Code Wars</option>
                                                            <option value="14">Coder Byte</option>
                                                            <option value="14">Top Coder</option>
                                                            <option value="14">Other..</option>
                                                        </optgroup>
                                                    </select></div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="country"><strong>Link</strong><br></label><input class="form-control" type="text" id="city-2" name="Year of Passing" inputmode="numeric"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 text-start order-first">
                                                <div class="mb-3"><label class="form-label" for="city"><strong>Platform 6</strong><br></label><select class="form-select">
                                                        <optgroup label="Select Platform">
                                                            <option value="" selected="">LeetCode</option>
                                                            <option value="13">Hacker Rank</option>
                                                            <option value="14">Code Chef</option>
                                                            <option value="14">Code Forces</option>
                                                            <option value="14">Code Wars</option>
                                                            <option value="14">Coder Byte</option>
                                                            <option value="14">Top Coder</option>
                                                            <option value="14">Other..</option>
                                                        </optgroup>
                                                    </select></div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="country"><strong>Link</strong><br></label><input class="form-control" type="text" id="city-1" name="Year of Passing" inputmode="numeric"></div>
                                            </div>
                                        </div>
                                        <div class="mb-3" style="margin-top: 5px;"><button class="btn btn-primary btn-sm" type="submit">Save&nbsp;Settings</button></div>
                                    </form>
                                </div>
                            </div>
                            <div class="card shadow mb-3" style="background: rgb(18,35,46);border-radius: 15px;">
                                <div class="card-header py-3" style="background: rgb(18,35,46);border-top-left-radius: 15px;border-top-right-radius: 15px;margin: -1px;">
                                    <p class="m-0 fw-bold" style="color: #ffffff;">Achievements</p>
                                </div>
                                <div class="card-body" style="background: #eefbfb;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;margin: -1px;">
                                    <form>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="first_name" style="color: rgb(18,35,46);"><strong>Description</strong><br></label><input class="form-control d-xl-flex" type="text" id="first_name-4" name="discription" style="height: 47px;"></div>
                                            </div>
                                        </div>
                                        <div class="mb-3" style="margin-top: 5px;"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card textwhite bg-primary text-white shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card textwhite bg-success text-white shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card border-dark shadow mb-3" style="border-radius: 15px;">
                                        <div class="card-header py-3" style="background: rgb(18,35,46);border-top-left-radius: 15px;border-top-right-radius: 15px;margin: -1px;">
                                            <p class="m-0 fw-bold" style="color: #ffffff;">Personal Information</p>
                                        </div>
                                        <div class="card-body" style="background: #eefbfb;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;margin: -1px;">
                                            <form>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);"><strong>Full Name</strong><br></label><input class="form-control" type="text" id="username" placeholder="Name" name="FullName" style="background: #ffffff;"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);"><strong>Gender</strong><br></label><select class="form-select">
                                                                <optgroup label="Select Gender">
                                                                    <option value="12" selected="">Female</option>
                                                                    <option value="13">Male</option>
                                                                    <option value="14">Other</option>
                                                                </optgroup>
                                                            </select></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="email" style="color: rgb(18,35,46);"><strong>Email</strong></label><input class="form-control" type="email" id="email" placeholder="user@example.com" name="email"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3" style="background: #eefbfb;"><label class="form-label" for="first_name" style="color: rgb(18,35,46);"><strong>City, State</strong><br></label><input class="form-control" type="text" id="first_name-1" placeholder="John" name="first_name"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="last_name" style="color: rgb(18,35,46);"><strong>Contact Number</strong><br></label><input class="form-control" type="text" id="last_name" placeholder="Doe" name="last_name"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="first_name" style="color: rgb(18,35,46);"><strong>LinkedIn Profile</strong><br></label><input class="form-control" type="text" id="first_name-2" placeholder="Link to your profile" name="first_name"></div>
                                                    </div>
                                                </div>
                                                <div class="mb-3" style="margin-top: 5px;"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card border-dark shadow" style="margin-bottom: 16px;border-radius: 15px;">
                                        <div class="card-header border-dark py-3" style="background: rgb(18,35,46);border-color: rgb(18,35,46);margin: -1px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
                                            <p class="m-0 fw-bold" style="color: rgb(255,255,255);">Educational Information</p>
                                        </div>
                                        <div class="card-body" style="background: #eefbfb;margin: -1px;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;">
                                            <form>
                                                <div class="mb-3"><label class="form-label" for="address" style="color: rgb(18,35,46);"><strong>Institution Name</strong><br></label><input class="form-control" type="text" id="address" placeholder="Sunset Blvd, 38" name="address"></div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="city" style="color: rgb(18,35,46);"><strong>Year of Passing</strong><br></label><input class="form-control" type="text" id="city" name="Year of Passing" inputmode="numeric"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="country" style="color: rgb(18,35,46);"><strong>Qualification</strong><br></label><select class="form-select">
                                                                <optgroup label="This is a group">
                                                                    <option value="12" selected="">This is item 1</option>
                                                                    <option value="13">This is item 2</option>
                                                                    <option value="14">This is item 3</option>
                                                                </optgroup>
                                                            </select></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="city" style="color: rgb(18,35,46);"><strong>Branch of Study</strong><br></label><input class="form-control" type="text" id="city" name="Year of Passing" inputmode="numeric"></div>
                                                    </div>
                                                </div>
                                                <div class="mb-3" style="margin-top: 5px;"><button class="btn btn-primary btn-sm" type="submit">Save&nbsp;Settings</button></div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card border-dark shadow mb-3" style="background: rgb(18,35,46);border-radius: 15px;">
                                        <div class="card-header py-3" style="background: rgb(18,35,46);border-radius: 0px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
                                            <p class="m-0 fw-bold" style="color: #ffffff;">Internships</p>
                                        </div>
                                        <div class="card-body" style="background: #eefbfb;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;margin: -1px;">
                                            <form>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);"><strong>Role</strong><br></label><input class="form-control" type="text" id="username" name="Role" style="background: #ffffff;"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3" style="background: #eefbfb;"><label class="form-label" for="first_name" style="color: rgb(18,35,46);"><strong>Organization</strong><br></label><input class="form-control" type="text" id="first_name" name="Organization"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="first_name"><strong>Description</strong><br></label><input class="form-control d-xl-flex" type="text" id="first_name" name="discription" style="height: 108px;"></div>
                                                    </div>
                                                </div>
                                                <div class="mb-3" style="margin-top: 5px;"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card border-dark shadow mb-3" style="border-radius: 15px;">
                                        <div class="card-header py-3" style="background: rgb(18,35,46);border-top-left-radius: 15px;border-top-right-radius: 15px;margin: -1px;">
                                            <p class="m-0 fw-bold" style="color: #ffffff;">Your Projects</p>
                                        </div>
                                        <div class="card-body" style="background: #eefbfb;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;margin: -1px;">
                                            <form>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);"><strong>Title</strong><br></label><input class="form-control" type="text" id="username-1" name="Role" style="background: #ffffff;"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3" style="background: #eefbfb;"><label class="form-label" for="first_name" style="color: rgb(18,35,46);"><strong>Link</strong><br></label><input class="form-control" type="text" id="first_name-3" name="Organization"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="first_name" style="color: rgb(18,35,46);"><strong>Description</strong><br></label><input class="form-control d-xl-flex" type="text" id="first_name-4" name="discription" style="height: 108px;"></div>
                                                    </div>
                                                </div>
                                                <div class="mb-3" style="margin-top: 5px;"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock content %}

