{% load static%}

<!--<!DOCTYPE html>-->
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register | StudentMithra</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andika+New+Basic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Add-Another-Button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/markdownit-edit-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/markdownit-edit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/NZButtonAddDelete-2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/simple-footer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Table-With-Search-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Table-With-Search.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">
</head>

<body class="bg-gradient-primary" style="background: #4da8da;margin-top: 0px;padding: 34px;">

    <div class="container" style="padding-top:30px">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex" style="padding-right: 12px;background: #12232e;"><img class="d-flex d-xl-flex justify-content-center align-items-center align-content-center justify-content-xl-center align-items-xl-center" src="{% static 'assets/img/reg_confirm_email_with_button_0.png' %}" style="background: #12232e;height: 350px;width: 350px;margin: 98px;margin-left: 88px;"></div>
                    <div class="col-lg-7" style="background: #007cc7;">
                        <div class="p-5" style="background: #007cc7;">
                            <div class="text-center">
                                <h1 class="text-dark mb-4" style="margin-top: 0px;color: rgb(77,168,218);">Create an Account!</h1>
                            </div>
                            <form class="user" method="POST">
                                {% csrf_token %}
                                <div class="mb-3" class="form-group"><input class="form-control form-control-user" type="name" id="exampleInputName" placeholder="Username" name="username"></div>
                                <div class="mb-3" class="form-group"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email Address" name="email"></div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password1"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="password2"></div>
                                    <small style="color:black;margin-top:5px;margin-left:7px">**password must not contain username</small>
                                </div>

                                <div class="form-group"><button class="btn btn-primary d-block btn-user w-100" type="submit" style="background: rgb(18,35,46);">Register Account</button></div>


                            </form>
<!--                            {{forms.errors}}-->
                            {% for message in messages %}
                                    <div class="alert alert-primary" role="alert">
					                        <p id="messages">{{message}}</p>
                                    </div>
                                    {% endfor %}
                            <div class="text-center"><a class="small" href="{% url 'login' %}" style="color: rgb(18,35,46);">Already have an account? Login!</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/markdownit-edit-1.js' %}"></script>
    <script src="{% static 'assets/js/markdownit-edit-2.js' %}"></script>
    <script src="{% static 'assets/js/markdownit-edit-3.js' %}"></script>
    <script src="{% static 'assets/js/markdownit-edit.js' %}"></script>
    <script src="{% static 'assets/js/Table-With-Search.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>



</html>