{% extends 'index.html' %}
{% load static %}
{% block head_title %}
MyResumes | {{ block.super }}
{% endblock head_title %}
{% block part %}
{% for message in messages %}
                                    <div class="alert alert-primary" role="alert">
					                        <p id="messages">{{message}}</p>
                                    </div>
{% endfor %}
                <div class="container-fluid">
                    <div class="row" style="border-radius: 15px;height: 335.6px;">

                        <div class="col" style="background: #12232e;border-radius: 15px;">
                            <h1 style="margin-top: 8px;margin-bottom: 8px;font-size: 25px;color: rgb(248,249,252);">Resume 1</h1>
                            <form method="POST" id="resume1" enctype="multipart/form-data">
                            {% csrf_token %}
                                <input type="hidden" name="form_type" value="resume1">
                            <div class="files color form-group mb-3" style="margin-bottom: 16px;"><input type="file" multiple="" name="resume1" style="margin-top: 0px;height: 220px;"></div>
                            <div style="text-align: right;"><button class="btn btn-primary" type="submit" style="background: rgb(241,245,74);color: rgb(18,35,46);height: 35px;padding-top: 5px;">Submit</button></div>
                            </form>
                        </div>

                    </div>
                    <div class="row" style="border-radius: 15px;height: 335.6px;margin-top: 12px;">

                        <div class="col" style="background: #12232e;border-radius: 15px;">
                            <h1 style="margin-top: 8px;margin-bottom: 8px;font-size: 25px;color: rgb(248,249,252);">Resume 2</h1>
                            <form method="POST" id="resume2" enctype="multipart/form-data">
                            {% csrf_token %}
                                <input type="hidden" name="form_type" value="resume2">
                            <div class="files color form-group mb-3" style="margin-bottom: 16px;"><input type="file" multiple="" name="resume2" style="margin-top: 0px;height: 220px;"></div>
                            <div style="text-align: right;"><button class="btn btn-primary" type="submit" style="background: rgb(241,245,74);color: rgb(18,35,46);height: 35px;padding-top: 5px;">Submit</button></div>
                                </form>
                        </div>

                    </div>
                    <div class="row" style="border-radius: 15px;height: 335.6px;margin-top: 12px;margin-bottom: 12px;">

                        <div class="col" style="background: #12232e;border-radius: 15px;">
                            <h1 style="margin-top: 8px;margin-bottom: 8px;font-size: 25px;color: rgb(248,249,252);">Resume 3</h1>
                            <form method="POST" id="resume3" enctype="multipart/form-data">
                            {% csrf_token %}
                                <input type="hidden" name="form_type" value="resume3">
                            <div class="files color form-group mb-3" style="margin-bottom: 16px;"><input type="file" multiple="" name="resume3" style="margin-top: 0px;height: 220px;"></div>
                            <div style="text-align: right;"><button class="btn btn-primary" type="submit" style="background: rgb(241,245,74);color: rgb(18,35,46);height: 35px;padding-top: 5px;">Submit</button></div>
                                </form>
                        </div>

                    </div>
                </div>
{% endblock part %}